<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <!-- build:js /assets/app.min.js -->
    <script type="text/javascript" src="/assets/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
