<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/components/jui/jui.min.css' />
    <script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jui/jui.min.js"></script>
    <script type="text/javascript" src="/components/handlebars/handlebars.js"></script>
    <!-- build:js /assets/app.min.js -->
    <script type="text/javascript" src="/assets/app.js"></script>
    <!-- endbuild -->
  </head>
  <body class="jui">
    {{{body}}}

    <script id="tpl_alarm" type="text/template">
      <div class="notify notify-<!= color !>">
      <div class="title"><!= title !></div>
      <div class="message"><!= message !></div>
    </div>
    </script>
  </body>
</html>
